@import "../../styles/base.scss";

.loan-list-wrap {
	background: $primary-blue;
	height: 90vh;
	display: flex;
	justify-content:center;
	align-items:center;
}

.loan-list-container {
	background: $hover-gray;
	box-shadow: $blue-shadow;
	height: 65vh;
	width: 50vw;
	font-family:$muli-font;
	.loan-titles {
		title {
			width: 20%;
		}
		background: $off-white;
		display: flex;
		justify-content:space-around;
		padding: 15px 10px;
		color: $primary-blue;
		font-weight:bold;
		font-size: 1.1em;
	}
	i {
		color: $yellow;
		font-size: 1.1em;
	}
	.loan-content{
		p {
			width: 20%;
		}
		p:last-child {
			text-decoration: underline;
			cursor: pointer;
		}
		display: flex;
		justify-content:space-around;
		align-items:center;
		padding: 0 10px;
	}
	.loan-content:nth-child(even){
		background-color: $v-gray;
		color: white;
	}
	.loan-content:nth-child(odd){
		background-color: $off-white;
		color: $v-gray;
	}
}