<navbar-dir></navbar-dir>
<div class="about-container">
    Vestid’s purpose is to help those who seek private money lending.
    Private money is the elusive and hard to find money that starts many small businesses.
    It’s found through rich uncle's, second mortgages, and wealthy friends or mentors who believe in you and your business.
    <br>
    <br>
    As we know, there is no single socioeconomic  group which holds a monopoly on ability, determination, or intelligence.
    Yet there is a significant advantage to those who by birth, have access to money.  The aim of Vestid is to bridge the
    gap between private money and those who have potential but not the means required to start or grow their endeavors.
</div>