<section class="loan-profile-container">
	<nav class="profile-nav-wrap">
		<aside class="user-profile-img">
			<div class="profile-img">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<p>Steph Curry</p>
		</aside>
		<aside class="details-wrap">
			<p>
				<i class="fa fa-user" id="user" aria-hidden="true"></i>
				Steph Curry
			</p>
			<p>
				<i class="fa fa-usd" id="dollar" aria-hidden="true"></i>
				$2000
			</p>
			<p>
				<i class="fa fa-envelope-o" id="email" aria-hidden="true"></i>
				steph@gswarriors.com
			</p>
			<p>
				<i class="fa fa-map-marker" id="location" aria-hidden="true"></i>
				San Francisco, CA
			</p>
			<p>
				<i class="fa fa-briefcase" id="briefcase" aria-hidden="true"></i>
				Start-up
			</p>
		</aside>
		<aside class="return-wrap" ui-sref="all-loans">
			<i class="material-icons">keyboard_arrow_left</i>
			return
		</aside>
	</nav>
	<section class="right-container">
		<section class="center-content">
			<img src="./app/assets/header-img.png" alt="default header image">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
			   animi assumenda blanditiis consequatur consequuntur dignissimos
			   error harum impedit magni nam necessitatibus, quam ratione saepe!
			   Atque aut nemo nisi odio tenetur!
			   animi assumenda blanditiis consequatur consequuntur dignissimos
			   error harum impedit magni nam necessitatibus, quam ratione saepe!
			   Atque aut nemo nisi odio tenetur!
			   animi assumenda blanditiis consequatur consequuntur dignissimos
			   error harum impedit magni nam necessitatibus, quam ratione saepe!
			   Atque aut nemo nisi odio tenetur!
			</p>
			<aside class="stat-wrap">
				<div class="stats">

				</div>
				<div class="stats">

				</div>
				<div class="stats">
					<!--TODO: make the submit relative-->
				</div>
			</aside>
			<div id="connect-user">connect</div>
		</section>
	</section>
</section>