<section class="loan-profile-container">
	<nav class="profile-nav-wrap">
		<aside class="user-profile-img">
			<img src="#" alt="">
			<p>Steph Curry</p>
		</aside>
		<aside class="details-wrap">

		</aside>
		<aside class="return-wrap">
			<i class="material-icons">keyboard_arrow_left</i>
			return
		</aside>
	</nav>
	<section class="right-container">
		<section class="header-img">
			<img src="#" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
			   animi assumenda blanditiis consequatur consequuntur dignissimos
			   error harum impedit magni nam necessitatibus, quam ratione saepe!
			   Atque aut nemo nisi odio tenetur!
			</p>
		</section>
	</section>
</section>