<navbar-dir></navbar-dir>
<div class="why-container">
    Vestid is an open marketplace.  As someone seeking a loan, you’ll go to your portal, input your information and why you’re seeking money and then this information will be displayed to potential lenders.
    You’ll have your own area where you can see how your ad is doing and respond to lenders who are interested in you.
    <br>
    <br>

    As a lender, you’ll go to your portal, put in some information about yourself and then you’ll be granted access to hundreds of business ventures seeking funding.
    Real Estate, startups, existing businesses looking to expand, it’s all here.
    <br>
    <br>

    <em><strong>Important!</strong></em>
    <br>
    <br>
    Remember that this is an unregulated space and that you are dealing with very sensitive information.  Do not share things such as social security numbers, bank information, or personal addresses on this site under any circumstances.  Your safety cannot be guaranteed.  Vestid is a place for introductions, it is not a place to complete a loan.

</div>