<section class="offering-loan-container">
	<ofl-left-details>
		<h2>What You're Filling Out</h2>
		<p>Please insert just a small bit of information about yourself and then after that, enjoy browsing the listings from aspiring business owners who are looking for a loan.</p>
	</ofl-left-details>
	<form ng-submit="oflform(ofl)" ng-if="authorized" ng-cloak>
		<ofl-title><span>O</span>ffering  <span>L</span>oan  <span>F</span>orm</ofl-title>
		<input type="text" ng-model="ofl.firstname" placeholder="John">
		<input type="text" ng-model="ofl.lastname" placeholder="Doe">
		<select ng-model="ofl.businesstype" ng-options="businessType.type for businessType in businessTypes"></select>
		<input type="text" ng-model="ofl.location" placeholder="UT">
		<button type="submit">Submit <i class="material-icons">keyboard_arrow_right</i></button>
	</form>
	<prevent-card ng-if="unauthorized" type="offering" ng-cloak></prevent-card>
</section>