<section class="offering-loan-container">
	<ofl-left-details>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		   Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		   Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		   Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		   Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		   Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		   Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		   Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		   Debitis, obcaecati?
			<br>
		   Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		   Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		   </p>
	</ofl-left-details>
	<form ng-submit="oflform(ofl)" ng-if="authorized">
		<ofl-title><span>O</span>ffering  <span>L</span>oan  <span>F</span>orm</ofl-title>
		<input type="text" ng-model="ofl.firstname" placeholder="John">
		<input type="text" ng-model="ofl.lastname" placeholder="Doe">
		<select ng-model="ofl.businesstype" ng-options="businessType.type for businessType in businessTypes"></select>
		<input type="text" ng-model="ofl.location" placeholder="UT">
		<button type="submit">Submit <i class="material-icons">keyboard_arrow_right</i></button>
	</form>
	<prevent-card ng-if="unauthorized" type="offering"></prevent-card>
</section>