<section class="seeking-loan-container">
	<skl-left-details>
            <h2>What You're Filling Out</h2>
        <br>
        <p>
			Filling out the loan seeking form is how you pitch to potential investors.
			We’ll need first and last name, amount of money you’re looking for, email, industry, state, and the bottom provides a space for you to explain your proposition and sell yourself.
			Without being too revealing, explain why you’re a good choice.  Good luck!
		</p>
	</skl-left-details>

	<form ng-submit="slform(slf)" ng-if="authorized" ng-cloak>
		<skl-title><span>S</span>eeking  <span>L</span>oan  <span>F</span>orm</skl-title>
		<input type="text" ng-model="slf.firstname" placeholder="John">
		<input type="text" ng-model="slf.lastname" placeholder="Doe">
		<select ng-model="slf.loanamount" ng-options="(loan.price | currency) for loan in loans">
			<option value="">${{loans[0].price}}</option>
		</select>
		<input type="email" ng-model="slf.email" placeholder="john_doa@example.com">
		<input type="text" ng-model="slf.location" placeholder="UT">
		<select ng-model="slf.businesstype" ng-options="businessType.type for businessType in businessTypes"></select>
		<textarea cols="30" rows="10" ng-model="slf.description" id="textarea-style"></textarea>
		<button type="submit">Submit <i class="material-icons">keyboard_arrow_right</i></button>
	</form>
	<prevent-card ng-if="unauthorized" type="seeking" ng-cloak></prevent-card>
</section>