@import "../../styles/base";

.seeking-loan-container {
	display: flex;
	justify-content:space-around;
	font-family:$primary-font;
		skl-left-details {
			padding:15px;
			font-size: 1.5em;
			border: 3px solid $primary-blue;
			display: flex;
			height: 90%;
			width: 45vw;
		}
		.form-container {
			display: flex;
			flex-direction:column;
			padding: 15px;
			width: 35vw;
			height: 80vh;
				skl-title {
					display: flex;
					justify-content:center;
					color: #0099C5;
					font-size: 2em;
					height: 38px;
					font-weight:bold;
					margin-bottom: 10px;
						span {
							color: $v-gray;
							margin-left:4px;
						}
				}
			input {
				border: 2px solid $v-gray;
				height: 5vh;
				margin-bottom:15px;
			}
		}
}