<section class="seeking-loan-container">
	<skl-left-details>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
	</skl-left-details>
	<skl-form class="form-container">
		<skl-title><span>S</span>eeking  <span>L</span>oan  <span>F</span>orm</skl-title>
		<input type="text" ng-model="slf.firstname" placeholder="John">
		<input type="text" ng-model="slf.lastname" placeholder="Doa">
		<input ng-model="slf.loanamount">
		<input type="email" ng-model="slf.email" placeholder="john_doa@example.com">
		<input type="text" ng-model="slf.location" placeholder="UT">
		<input type="text" ng-model="slf.businesstype">
		<textarea cols="30" rows="10" ng-model="slf.description"></textarea>
	</skl-form>
</section>