<section class="seeking-loan-container">
	<skl-left-details>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
		Debitis, obcaecati? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Ad architecto, dolor eius, error et fuga impedit minima mollitia neque numquam odio quam quibusdam recusandae reiciendis reprehenderit sit veniam.
	</skl-left-details>
	<skl-form class="form-container">
		<skl-title><span>S</span>eeking <span>L</span>oan <span>F</span>orm</skl-title>
	</skl-form>
</section>