<section class="reg-container">
    <h1><span>V</span>estid</h1>
    <header>
        <return-container ui-sref="login">
            <i class="material-icons">keyboard_arrow_left</i>
            <p>return</p>
        </return-container>
        <p id="header-trouble-style">having trouble logging in?</p>
    </header>
    <p id="header-two-style">please enter your email to get started</p>
    <form ng-submit="resetPW(resetEmail)" class="email-form">
        <input type="email" ng-model="resetEmail" placeholder="example@vestid.com">
        <reset>reset<i class="material-icons">keyboard_arrow_right</i></reset>
    </form>

</section>