@import "../../styles/base";

.navbar-container {
  font-weight:100;
  font-family: $primary-font;
  font-size:22px;
  height:10vh;
  background: white;
  color: $primary-blue;
  display: flex;
  justify-content:space-around;
  align-items: center;
  box-shadow: $nav-shadow;
  nav-logo {
    span {
      color: $v-gray;
    }
  }
}