<section class="login-form">
    <h1><span>V</span>estid</h1>
    <form ng-submit="login(user)">
        <return>
            <i class="material-icons">keyboard_arrow_left</i>
            <p ui-sref="landing">return</p>
        </return>
        <section class="nput-wrap">
            <input type="email" placeholder="john_doe@vestid.com" ng-model="user.email" required="required" ng-class="{red: invalid}">
            <input type="password" placeholder="*********" ng-model="user.password" required="required" ng-class="{red: invalid}">
            <p ui-sref="password-reset">forgot password?</p>
            <p id="invalid-login" ng-style="{opacity: (invalid) ? '1' : '0'}">invalid credentials</p>
        </section>
        <section class="btn-container">
            <button type="submit">login</button>
            <button type="button" ui-sref="register">register</button>
        </section>
    </form>
</section>